@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    background-image: url(background);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.header {
    position: fixed;
    display: flex;
    width: 100%;
    padding: 30px 8%;
    background: transparent;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo {
    font-size: 25px;
    text-decoration: none;
    color: #222;
    font-weight: 600;
    display: flex;
    animation: SlideRight 1s ease forwards;
}
.logo:hover{
    color: white;
}

.navbar {
    animation: SlideRight 1s ease forwards;
}

.navbar a {
    font-weight: 400;
    margin: 0 20px;
    color: black;
    list-style: none;
    text-decoration: none;
    padding: 10px;
    transition: .3s;

}

.navbar a:hover {
    color: white;
}

.social-media {
    display: flex;
    justify-content: space-between;
    width: 120px;
    height: 40px;
    animation: SlideRight 1s ease forwards;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    text-decoration: none;
    border: 2px solid transparent;
    transform: rotate(45deg);
    transition: .5s;
}


.social-media a i {
    font-size: 24px;
    color: black;
    transform: rotate(-45deg);
}
.social-media a i:hover{
    color: white;
}


.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: SlideRight 1s ease forwards;
}

.card {
    width: 500px;
    height: 300px;
    background: #fff;
    cursor: pointer;
    border-radius: 25px;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
}

.front {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, #0045c7, #ff2c7d);
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 30px;
    border-radius: 20px;
    overflow: hidden;
}

.map-img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;

}

.row {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
    margin-top: 60px;
    color: #fff;
}



.card-subhead {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 380;
    margin-top: 5px;
    padding: 10px;
    color: #fff;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 300 ;
    position: relative;
    width: 38%;
    margin-top: 18px;
    padding: 10px 20px;
    background: rgb(55, 175, 101);
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.button:hover{
    background-color: rgb(8, 171, 8) ;
}

.bx-credit-card{
    margin-top: -1px;
}

@keyframes SlideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}