<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credit score</title>
    <link rel="stylesheet" href="static/home.css">
    <link rel="icon" href="static/icon.png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <header class="header">
        <a href="{{url_for('home')}}" class="logo"> Credit Score Checker</a>
        <nav class="navbar">
            <a href="{{url_for('home')}}"> Home </a>
            <a href="{{url_for('predict')}}"> Predict </a>
            <a href="{{url_for('about')}}"> About Us </a>
        </nav>
    </header>
    <div class="wrapper">
        <div class="container">
            <div class="card">
                <div class="card-inner">
                    <div class="front">
                        <img src="static/map.png" alt="map-img" class="map-img">
                        <div class="row">
                            <img src="static/manoj.jpg" alt="chip" width="60px" class="pro">
                            <img src="static/visa.png" alt="visa" width="80px">
                        </div>
                        <div class="card-head">
                            <p> MANOJ KUMAR S</p>
                        </div>
                        <div class="card-subhead">
                            <p>I am a passionate web developer driven by the artistry
                                of
                                both digital realms. With a keen eye for detail and a flair for creativity, I thrive on
                                crafting
                                visually stunning websites that not only function seamlessly but also captivate the
                                viewer's
                                attention. 
                            </p>
                        </div>
                        <div class="social-mediaa">
                            <a href="https://github.com/Captureboy"><i class='bx bxl-github'></i></a>
                            <a href="https://www.linkedin.com/in/manoj-kumar-s-57188922a/"><i class='bx bxl-linkedin'></i></a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-inner">
                    <div class="front">
                        <img src="static/map.png" alt="map-img" class="map-img">
                        <div class="row">
                            <img src="static/karthik.png" alt="chip" width="60px" class="kar">
                            <img src="static/visa.png" alt="visa" width="80px">
                        </div>
                        <div class="card-head">
                            <p> KARTHIK NAIR</p>
                        </div>
                        <div class="card-subhead">
                            <p>I'm a passionate data analyst, I thrive on tackling projects that ignite my
                                enthusiasm for data-driven solutions. I eagerly seek out opportunities to work on projects that
                                align with my interests and expertise. 
                            </p>
                        </div>
                        <div class="social-mediaa">
                            <a href="#"><i class='bx bxl-github'></i></a>
                            <a href="#"><i class='bx bxl-linkedin'></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>